.singleMovieCard {
  cursor: pointer;
  max-width: 28em;
  padding-bottom: 2em;
  transition: 0.1s;
  border: solid #fff 6px;
}

.singleMovieCard:hover {
  transform: scale(1.01);
  box-shadow: 3px 3px 3px black;
  border: solid #3799afdf 6px;
}

.movieImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  width: 90%;
}

.movieTitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  font-size: 1.7em;
}
