@font-face {
  font-family: 'ITC';
  src: url('/fonts/ITC-Avant-Garde-Gothic-Medium.otf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'ITC', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
